* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "SoDoSans", "Helvetica Neue", sans-serif;
    font-weight: 710;
}


.Article__main {
    padding-top: 1.5rem
}


nav {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 1.5rem;
    border-bottom: 1px solid #D9D9D9;
    font-size: 14px;
}



.nav__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 5.5rem;
}

.nav__sideMenu:hover,
.nav__sideMenu:active {
    cursor: pointer;
    background-color:rgba(138, 138, 138, 0.2)
}

.nav__sideMenu.Join:hover, 
.nav__sideMenu.Join:active {
    cursor: pointer;
    background-color:rgba(5, 5, 5, 0.8)

}
.logo{
    width: 4rem;
    height: 4rem;
}

.nav__menu.container {
    width:40%;
    /* display: flex; */
    /* justify-content: space-evenly; */
}

.nav__menu.container2 {
    display: flex;
    justify-content: space-evenly;
    width: 40%;
}

.nav__menu.lists {
    display: flex;
    justify-content: center;
    size: 14px;
    color: black;
}

.toggle__button {
    display: none;
}

.imgSource {
    width: 3rem;
    height: 3rem;
    padding: 5px;
    transition: 0.3s ease-out;
}

@media (max-width: 60rem) {
    .toggle__button {
        display: inline;
        position: absolute;
        right: 10px;
        border-radius: 50%;
        transition-duration: 0.5s;
    }

    .toggle__button:hover {
        cursor: pointer;
        background-color: #dddcdc;
    }

    .nav__menu.container,
    .nav__menu.container2 {
        display: none;
    }
}


.nav__menu.lists:hover {
    cursor: pointer;
    color: #00754a;
}

.img__location{
    padding-right: 0.1rem;
}

.location {
    display: flex;
    align-items: center;
}

.location:hover,
.location:active {
    cursor: pointer;
    color: #00754a;
}

button {
    padding: 0.7rem 1.5rem;
    border-radius: 30px;
    border: 1px solid black;
}

button.singIn {
    background-color: #ffffff;
    transition: 0.2s ease-out;
}

button.Join {
    background-color: black;
    color: #ffffff;
    transition: 0.2s ease-out;
}

.Article__main{
    width: 100%;
    height: 95%;
    min-height: 25rem;
    display: flex;
}

.Article.article {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.Article.article.right0 {
    background-color: #F6C0D9;
}

.Article.container {
    /* width: 70%;
    height: 50%;
    /* min-width: 85%; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    padding: 7rem 5rem;
    order: 1;
}

.Article.image {
    width: 50%;
    order: 2;
}

@media (max-width: 60rem) {
    .Article__main{
    flex-direction: column;
    }

    .Article.image.right0 {
        background-color: #F6C0D9;
    }

    .Article.image.left0 {
        background-color: #9FC292;
    }

    .Article.image.right1 {
        background-color: #FFF4D3;
    }

    .Article.image.left1, 
    .Article.image.right2 {
        background-color: #D4E9E2;
    }

    .Article.image.left2 {
        background-color: #1E3932;
    }

    .Article.image {
        width: 100%;
        height: auto;
        order:1;
    }

    .Article.article {
        width: 100%;
        height: 15rem ;
        order: 2;
    }


    .Article.container{
        min-width: 650px;
        height: auto;
        order:2;
    }

    .Article.container>h1 {
        font-size: 2rem;
        font-weight: 600;   
    }
    .Article.container>p {
        font-size: 1rem;
        font-weight: 100;
        line-height: 2rem;
        /* margin: 10px 0;    */
    }
    
    .Article.title.small {
        font-size: 1rem;
        font-weight: 600;
        color: #1E3932;
    }

    .Article.article.right2 > .Article.container > .Article.btn {
        width: 13rem;
    }

}


.Article.image img{
    height: 100%;
    width: 100%
}


.Article.container.small{
    width: 80%;
    height: 60%;
}

.Article.title {
    font-size: 3rem;
    font-weight: 600;
    color: #1E3932;
}

.Article.title.small {
    font-size: 1.6rem;
    font-weight: 600;
    color: #1E3932;
}

.Article.title.small.opp {
    color: #FFFFFF;
}


.Article.para {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 5;
    height: 8.3rem;
    width: 100%;
    line-height: 40px;
    color: #1E3932;
}

.Article.para.small {
    font-size: 1.1rem;
    font-weight: 1;
    line-height: 30px;
}

.Article.para.small.opp {
    color: #FFFFFF;
}

/* 어디다가 minimum-width를 해줘야 한다 */

.Article.btn {
    width: 10rem;
    margin: 0 auto;
    font-size: 1rem;
    color: #1E3932;
    background-color: rgba(246, 192, 217, 0)
}

.Article.btn.long {
    width: 13rem;
}

.Article.btn.opp {
    color: #ffffff;
    border: 1px solid #ffffff;
}

.Article.btn:hover {
    cursor: pointer;
    background-color: rgba(228, 228, 228, 0.5);
}

.Article.article.left0 {
    background-color: #9FC292;
}

.Article.article.right1 {
    background-color: #FFF4D3;
}

.Article.article.left1,
.Article.article.right2 {
    background-color: #D4E9E2;
}

.Article.article.left1 .Article.title,
.Article.article.right2 .Article.title,
.Article.article.left2 .Article.title {
font-size: 1.6rem;
font-weight: 600;
color: #1E3932;
}

.Article.article.left1 .Article.para,
.Article.article.right2 .Article.para,
.Article.article.left2 .Article.para{
    font-size: 1.1rem;
    font-weight: 1;
    line-height: 30px;
}

.Article.article.left2  {
    background-color: #1E3932;
    color: white;
}

.Article.article.left2 .Article.title, 
.Article.article.left2 .Article.para,
.Article.article.left2 .Article.btn
{
    color: #FFFFFF
}


.Article.article.left2 .Article.btn {
    border: 1px solid #FFFFFF;
}
.Article.article.left2 .Article.btn:hover {
    cursor: pointer;
    background-color: #182E28
}


.Article__final { 
    font-weight: 1;
    margin-top: 3rem;
    margin-bottom: 1rem;
    text-align: center;
}

footer {
    box-shadow: 0 -1px 3px rgba(0,0,0,.1), 0 -2px 2px rgba(0,0,0,.06), 0 0 2px rgba(0,0,0,.07);
    padding: 1.5rem 2rem;
}

.footer__container {
    width: 85%;
    display: flex;
    justify-content: space-evenly;
}

.footer__lists__container {
    list-style: none;
    width: 80%;
    line-height: 2.5;
}

.footer__title {
    font-weight: 500;
    font-size: 1.2rem;
    padding-bottom: 1rem;
    line-height: 1.5;
}

.footer__lists {
    font-weight: 100;
    color: #9e9e9e;
}

.footer__lists:hover {
    cursor: pointer;
    color: black;
}

hr{
    margin: 2rem 0;
}

.footer__imgContainer {
    display: flex;
    /* justify-content: center; */
    list-style: none;
}

.footer__imgContainer li{
    padding-right: 0.5rem;
}

.footer__image {
    width: 2.5rem;
    height: 2.5rem;
}

@media (max-width: 60rem) {
    .footer__container,
    .footer__container2 {
        flex-direction: column;
        justify-content: space-evenly;
    }

    .footer__container2 > li {
        padding: 1rem 0;
    }

    .footer__container2 > li > a {
        font-weight: 500;
    }

    .footer__container2 > li > span {
        display: none;
    }

    .footer__container > ul {
        padding: 1rem 0;
    }

    .footer__container .footer__title {
        font-size: 1.3rem;
        font-weight: 300;
    }

    .footer__lists {
        display: none;
    }

    hr {
        margin: 0;
        margin-bottom: 2rem;
    }

    footer {
        padding-top: 1rem;
    }

    .franch {
        margin-top: 20px !important;
    }
}

.footer__container2 {
    display: flex;
    width: 70%;
    margin-top: 1.6rem;
    list-style: none;
}

.footer__container2 li{
    padding-right: 1.5rem;
}

.footer__container2 a{
    color: black;
    font-weight: 100;
    text-decoration: none;
}

.footer__container2 a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.footer__container2 span{
    padding-right: 1.6rem;
}

.franch {
    color: #00754A;
    margin-top: 2.5rem; 
}

.rights {
    padding: 1.5rem 0;
    font-weight: 100;
    color: #9e9e9e;
}
